body{
      background: url(img/fondo1.jpg);
}
header{
	width: 100%;
	background: #4e94ab;
}

.menu ul{
	margin: 0;
	list-style: none;
	display: flex;
	display: -webkit-flex;
}

.menu li{
	border-right: 2px solid #fff;
}
.menu li a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}